.board {
  display: flex;
  position: relative;
}

.field_image .instruction_element {
  opacity: 0;
}

.field_image:hover .instruction_element {
  opacity: 1;
}
.instruction_element {
  position: absolute !important; 
  top: 5.5%;
  right: 8%;
  width: 15%;
  aspect-ratio: 1;
  background-image: url('/images/tokens/info_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  filter: brightness(3);
}
.instruction_element:hover {
  transform: scale(1.2);
  filter:  brightness(1);
}

#alert.instruction div {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.5rem;
  max-width: 400px;
  text-align: justify;
}

.overlay_container {
  transition: none;
}

.overlay_container.disable {
  filter:none;
}
.overlay_container.disable div {
  filter: grayscale(1);
}

.overlay_container:hover,
.overlay_container:focus {
  transition: all 0.4s ease-in-out;
  position:absolute;
  width: 200%;
  height: 100%;
  transform: scale(2);
  display: flex;
  z-index: 5;
  align-items: center;
  justify-content: center;
}
.overlay_container:hover .overlay,
.overlay_container:focus .overlay {
  position: relative;
  width: auto;
  transform: none !important;
}


.overlay_container.--show:hover,
.overlay_container.--show:focus {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  transform: translate(-50%, -50%);
} 

.--show {
  transition: none;
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(15px) sepia(1);
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.overlay_container button {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border:none;
  font-size: 5rem;
  color: var(--accent-color);
}

.overlay_container button:hover,
.overlay_container button:focus {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.--show button {
  display: block;
}

.--show .overlay {
  position: relative;
  max-width: 20dvw;
  aspect-ratio: 0.33;
  max-height: 35dvh;
  top: 0;
  left: 0;
  transform: none !important;
  display: flex;
  align-items: center;
}

.--show .overlay:hover,
.--show .overlay:focus {
  transform: scale(1.2) !important;
}

.--show .overlay img { 
  max-width: 20dvw;
  height: auto;
}

.deck .remove_card,
.throw_available {
  cursor: url('../images/cursors/remove.ico'), auto;
  filter: none;
}
.throw_available {
  animation: 0.7s infinite alternate ease-in-out shotAvailable;
  background-color: var(--accent-color-opacity);
  border-radius: 1rem;
}
.throw_available:hover,
.throw_available:focus {
  transform: scale(1.2) !important;
  transform-origin: top center;
  filter: grayscale(0.5) !important;
}

.deck .remove_card:hover,
.deck .remove_card:focus {
  filter: none;
  transform: scale(2) !important;
  z-index: 5;
    transform-origin: top center;
}

body.background {
  background-image: url('../images/board_6.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

#levels img,
.field {
  height: 16dvh;
  object-fit: contain;
  aspect-ratio: 0.66;
}
.field.galareta {
  background-image: url('../images/tokens/GALARETA.webp');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
}

#streets {
  display: flex;
  flex-direction: row;
    position: relative;
  gap: 0.5rem;
  margin-inline: 1rem;
  padding-block: 5rem;
}

#streets > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

#levels {
  flex-direction: column-reverse !important;
  justify-content: start;
}

.field img {
  width: 100%;
  height: 100%;
}

.field {
  aspect-ratio: 0.66;
  background-color: var(--accent-color-opacity);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  font-size: 3rem;
  font-family: "Arial", sans-serif;
}

.field:has(img) {
  cursor: url('../images/cursors/hover.ico'), auto;
  background: none;
}

.field_board {
  position: absolute;
}

.field:has(.field_board) .field_image,
.field:has(.field_image) .field_pet {
  position: absolute;
  width: 75%;
  height: 75%;
  bottom: -0.75rem;
  right: -0.75rem;
  z-index: 5;
}

.field > div {
  border-radius: 0.75rem;
}
.field_image:hover,
.field_board:hover,
.field_pet:hover {
  position: absolute;
  transform: scale(1.2) !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 6;
  /* border: 4px solid var(--accent-color-opacity); */
}

/*
.field_pet:hover {
  width: 100%;
  height: 100%;
}
div[data-przecznica="1"]:has(img):hover > div,
div[data-przecznica="2"]:has(img):hover > div {
  transform-origin: bottom center;
}

div[data-przecznica="3"]:has(img):hover > div {
  transform-origin: center center;
}

div[data-przecznica="4"]:has(img):hover > div,
div[data-przecznica="5"]:has(img):hover > div {
  transform-origin: top center;
} */

#streets .field_available {
  background-color: var(--color-green);
  cursor: url('../images/cursors/add.ico'), auto;
  animation: 0.7s infinite alternate ease-in-out fieldAvailable;
}

.shot_available .field_image,
.shot_available .overlay {
  cursor: url('../images/crosshair.ico'), crosshair;
  animation: 0.7s infinite alternate ease-in-out shotAvailable;
  background-color: var(--accent-color-opacity);
  border-radius: 1rem;
}

.web_available > .field_image,
.gas_available > .field_image,
.papu_available > .field_image,
.kilof_available {
  cursor: url('../images/cursors/web.ico'), pointer;
  animation: 0.7s infinite alternate ease-in-out webAvailable;
  background-color: var(--color-green-opacity);
  border-radius: 1rem;
}

.kilof_available {
  cursor: url('../images/cursors/pickaxe.ico'), pointer;
}

.papu_available > .field_image {
  cursor: url('../images/cursors/heal.ico'), pointer;
}

.gas_available > .field_image {
  cursor: url('../images/cursors/gas_green.ico'), auto;
}

.webbed > .field_image {
  position: relative;
}

.webbed > .field_image:after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../images/web-upper-corner.webp'), url('../images/web-bottom-corner.webp');
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  transform: none;
}

.move_on {
  animation: 0.7s infinite alternate ease-in-out moveAvailable;
}

.move_available > .field_image,
.move_on > .field_image {
  animation: 0.7s infinite alternate ease-in-out moveElement;
  border-radius: 1rem;
}

.ropa_available {
  cursor: url('../images/cursors/barrel.ico'), auto;
  animation: 0.7s infinite alternate ease-in-out ropaAvailable;
}

.grenade_available {
  cursor: url('../images/cursors/grenade.ico'), auto;
  animation: 0.7s infinite alternate ease-in-out ropaAvailable;
}

.grenade_available > div {
     border-radius: 1rem;
     cursor: url('../images/cursors/grenade.ico'), auto;
    animation: 0.7s infinite alternate ease-in-out shotAvailable;
}

.ropa_available > .field_image,
.ropa_available > .field_pet,
.ropa_available > .field_board img[data-name="MINA"],
.ropa_available > .field_board img[data-name="AUTO"],
.ropa_available .overlay[data-name="MIŚ"] {
    cursor: url('../images/cursors/barrel.ico'), auto;
    border-radius: 1rem;
    animation: 0.7s infinite alternate ease-in-out shotAvailable;
}

.miotacz_available {
  cursor: url('../images/cursors/miotacz.ico'), auto;
  animation: 0.7s infinite alternate ease-in-out miotaczAvailable;
}

.miotacz_available > .field_image,
.miotacz_available > .field_board img[data-name="MINA"],
.miotacz_available > .field_board img[data-name="AUTO"],
.miotacz_available .overlay[data-name="MIŚ"] {
    cursor: url('../images/cursors/miotacz.ico'), auto;
    border-radius: 1rem;
    animation: 0.7s infinite alternate ease-in-out shotAvailable;
}

#streets .zombies:hover,
#streets .zombies:focus {
  background-color: var(--accent-color);
}

.field {
  position: relative;
}

.field.overlay_available .field_image {
  filter: hue-rotate(90deg) saturate(0.5);
  animation: 0.7s infinite alternate ease-in-out cardAvailable;
  border-radius: 1rem;
}

.overlay {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 70%;
  height: 70%;
  border-radius: 0.75rem;
  transform: rotate(-10deg);
  z-index: 4;
}
.overlay[data-name="GALARETA"] {
  width: 50% !important;
  object-fit: contain;
}
.overlay_container:hover .overlay[data-name="GALARETA"] img {
  width: 50%;
}
.overlay[data-name="GALARETA"] img {
  position: relative;
  width: 100%;
  height: auto;
  top: 25%;
  left: 25%;
}

.background_image {

  position: relative;
}


.background_image *:hover {
  transform-origin: center center !important;
  transform: scale(1) !important;
}

.background_image::after {
  z-index: 4;
  opacity: 0.75;
  background-image: var(--bg-image, none);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.no_image {
  opacity: 0.4;
}

#cancel {
  width: 27%;
  aspect-ratio: 2.8;
  padding: 1rem;
  position: absolute;
   cursor: url('../images/cursors/hover.ico'), auto;
  font-size: 2rem;
  border: none;
  outline: none;
  color: var(--background-color);
  background-image: url('../images/red_button.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 4;
  bottom: 2rem;
}

#cancel.zombies_active {
    right: 0;
}

#cancel.humans_active {
  left: 0;
}

#cancel:hover,
#cancel:focus {
  background-image: url('../images/yellow_button.webp');
}

.death_animation {
  cursor: url('../images/cursors/normal.ico'), auto;
  animation: 2s alternate ease-in deathAnimation !important;
}

.tor_electricity,
.tor_fire,
.tor_jajnik,
.tor_reflektor {
  position: absolute;
  z-index: 4;
  height: 8vh;
  width: 100%;
  top: -2.5rem;
  background-image: url('../images/art/electricity.webp');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
   animation: 1s alternate infinite ease-in torArrow;
}
.tor_fire {
  background-image: url('../images/art/street_fire.webp');
}

.tor_jajnik {
  background-image: url('../images/art/jajnik.webp');
}
.tor_reflektor {
  background-image: url('../images/art/reflektor.webp');
}

.tor_electricity:hover,
.tor_electricity:focus,
.tor_fire:hover,
.tor_fire:focus,
.tor_jajnik:hover,
.tor_jajnik:focus,
.tor_reflektor:hover,
.tor_reflektor:focus {
  transform: scale(1.5);
}



#streets > div:has(.tor_electricity:hover) .field,
#streets > div:has(.tor_jajnik:hover) .jajnik_available {
  animation: 1s alternate infinite ease-in shock;
}

#streets > div:has(.tor_reflektor:hover) .field {
  animation: 1s alternate infinite ease-in reflektor;
}

#streets > div:has(.tor_reflektor:hover) .field.disable {
  animation: none;
}

#streets > div:has(.tor_fire:hover) .field {
  animation: 1s alternate infinite ease-in fire;
}

#streets > div:has(.tor_jajnik:hover) .jajnik_available .field_image,
#streets > div:has(.tor_jajnik:hover) .jajnik_available .field_pet {
  animation: 1s alternate infinite ease-in shotAvailable;
  border-radius: 1rem;
}

#streets > div:has(.tor_electricity:hover) div[data-type="zombie"] .field_image,
#streets > div:has(.tor_electricity:hover) div[data-type="zombie"] .field_pet {
  animation: 1s alternate infinite ease-in shockElement;
}

#streets > div:has(.tor_reflektor:hover) .reflektor_available .field_image,
#streets > div:has(.tor_reflektor:hover) .reflektor_available .field_pet {
  animation: 1s alternate infinite ease-in reflektorElement;
  border-radius: 1rem;
}

#streets > div:has(.tor_fire:hover) div[data-type="zombie"] .field_image,
#streets > div:has(.tor_fire:hover) div[data-type="zombie"] .field_pet {
  animation: 1s alternate infinite ease-in fireElement;
}

@keyframes moveAvailable {
  from {
    background-color: var(--accent-color-opacity);
  }
  to {
    background-color: var(--color-blue-opacity);
  }
}

@keyframes ropaAvailable {
  from {
    background-color: var(--background-color-opacity);
  }
  to {
    background-color: var(--accent-color-opacity);
  }
}

@keyframes grenadeAvailable {
  from {
    background-color: var(--color-yellow-opacity);
  }
  to {
    background-color: var(--accent-color-opacity);
  }
}

@keyframes miotaczAvailable {
  from {
    background-color: var(--accent-color);
  }
  to {
    background-color: var(--accent-color-opacity);
  }
}

@keyframes shockElement {
  from {
    filter: none;
    box-shadow: none;
  }
  to {
    filter: hue-rotate(-115deg);
    box-shadow: 0px 0px 20px 20px var(--color-blue-opacity);
  }
}

@keyframes fireElement {
  from {
    filter: none;
    box-shadow: none;
  }
  to {
    filter: hue-rotate(45deg);
    box-shadow: 0px 0px 20px 30px rgba(255, 0, 0, 0.75);
  }
}


@keyframes reflektor {
  from {
    background-color: var(--accent-color-opacity);
  }
  to {
    background-color: var(--color-yellow-opacity);
  }
}

@keyframes reflektorElement {
  from {
    filter: none;
    box-shadow: none;
  }
  to {
    filter: hue-rotate(-15deg);
    box-shadow: 0px 0px 20px 20px var(--color-yellow-opacity);
  }
}

@keyframes shock {
  from {
    background-color: var(--accent-color-opacity);
  }
  to {
    background-color: var(--color-blue-opacity);
  }
}


@keyframes fire {
  from {
    background-color: var(--accent-color-opacity);
  }
  to {
    background-color: rgba(255, 0, 0, 0.5);
  }
}

@keyframes torArrow {
  from {
    filter: none;
  }
  to {
    filter: hue-rotate(115deg);
  }
}

@keyframes deathAnimation {
  from {
    opacity: 1;
    filter: blur(0) grayscale(0);
  }
   to {
    opacity: 0;
    filter: blur(50px) grayscale(1);
   }
}
@keyframes fieldAvailable {
  from {
    background-color: var(--color-green-opacity);
  }
  to {
    background-color: var(--accent-color-opacity);
  }
}

@keyframes moveElement {
  from {
    outline: 1px solid var(--color-blue);
  }
   to {
    outline: 25px solid var(--color-blue-opacity);
   }
}

@keyframes webAvailable {
  from {
    outline: 1px solid var(--color-green);
  }
   to {
    outline: 25px solid var(--color-green-opacity);
   }
}
@keyframes shotAvailable {
  from {
    outline: 1px solid var(--accent-color);
  }
    to {
    outline: 25px solid var(--accent-color-opacity);
  }
}

@keyframes cardAvailable {
  from {
    filter: none;
    outline: 1px solid var(--color-green);
  }
  to {
    filter: hue-rotate(90deg) saturate(0.5);
    outline: 20px solid var(--color-green-opacity);
  }
}