:root {
  --primary-color: #c2b69d;
  --secondary-color: #eddb52;
  --accent-color: #ae452f;
  --background-color: #12120e;
}

@font-face {
  font-family: "Klathy";
  src: url("../font/klathy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Klathy", sans-serif;
}

.hidden {
  display: none !important;
}

* {
  transition: all 0.5s ease-in-out;
}
*:hover,
*:focus,
*:after,
*:before {
  transition: all 0.5s ease-in-out;
}
