:root {
  --primary-color: #c2b69d;
  --secondary-color: #eddb52;
  --accent-color: #ae452f;
  --accent-color-opacity: #ae452f80;
  --background-color: #12120e;
  --color-green: #466929;
  --color-green-opacity: #466929a0;
  --color-blue: #3b5159;
  --color-blue-opacity: rgba(100 , 100 , 255, 0.5);
}

@font-face {
  font-family: "Klathy";
  src: url("../font/klathy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Klathy", sans-serif;
  overflow: hidden;
    user-select: none;
    cursor: url('../images/cursors/normal.ico'), auto;
}

body.clicking {
cursor: url('../images/cursors/click.ico'), auto;
}

.hidden {
  display: none !important;
}

* {
  transition: all 0.5s ease-in-out;
}
*:hover,
*:focus,
*:after,
*:before {
  font-family: "Klathy", sans-serif;
  transition: all 0.5s ease-in-out;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
  position: relative;
}

#intro,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

h1 {
  text-transform: uppercase;
}

footer {
  width: 100dvw;
  height: 1rem;
  position: fixed;
  font-family: "Arial", "sans-serif";
  bottom: 0;
  text-align: center;
  padding-block: 0.25rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--background-color);
}

footer a {
  text-decoration: none;
  color: var(--accent-color);
 cursor: url('../images/cursors/hover.ico'), auto;
  display: inline-block;
}

footer:hover *,
footer:focus *,
footer a:hover,
footer a:focus {
  font-family: "Arial", "sans-serif";
}

footer a:hover,
footer a:focus {
  transform: scale(1.1);
  transform-origin: center left;
}